<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Details</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>

        <section class="hero is-primary">
                <div class="hero-body">
                  <div class="container">
                    <h1 class="title">
                      Add College and Course Details
                    </h1>
                    <h2 class="subtitle">
                      Fill in the necessary fields
                    </h2>
                  </div>
                </div>
              </section>


        <section>

              <div class="container" style="margin-top:1em;">
                    <h1 class="title">College Details</h1>
                                    <div class="field">
                                            <div class="control" id="medium">
                                                <label class="label">College Name </label>
                                              <input class="input is-primary" type="text" placeholder="Enter College Name to be added">
                                            </div>
                                          </div>
                   <div class="field is-horizontal" >
                    <div class="field-body">
                                    <!-- <div class="field" id="small">
                                            <div class="control">
                                                <label class="label">Date of Birth*</label>
                                              <input class="input is-primary" type="text" placeholder="Enter DOB as dd/mm/yyyy" required>
                                            </div>
                                          </div> -->

                                          <div class="field" id="small" >
                                                <div class="control">
                                                <label class="label">Choose Category *</label>
                                                  <div class="select is-primary">
                                                    <select required>
                                                      <option>Government or Aided Institution</option>
                                                      <option>Government Controlled Self Financing Institution</option>
                                                    </select>
                                                  </div>
                                                </div>
                                              </div>
                                              
                                              
                                             <div class="field" id="small">
                                                    <div class="control">
                                                        <label class="label">District *</label>
                                                      <input class="input is-primary" type="text" placeholder="Enter District" required>
                                                    </div>
                                                  </div>
                                          

                            </div>
                   </div>
                   <div class="field" id="medium">
                    <div class="control">
                        <label class="label">University affiliated to *</label>
                      <input class="input is-primary" type="text" placeholder="Enter University Name" required>
                    </div>
                  </div>                    




                <div class="field is-horizontal" >
                <div class="field-body">
                                    <div class="field" id="small" >
                                      <div class="control">
                                  <label class="label">Is college AICTE affiliated? *</label>
                                  <div class="select is-primary">
                                      <select required>
                                      <option>Yes</option>
                                      <option>No</option>
                                      </select>
                                           </div>
                                       </div>
                                     </div>


                    </div>
                </div>                    



                       
               

                                    <div class="field is-grouped" style="margin-top:2em;">
                                            <div class="control">
                                              <button class="button is-link">Add</button>
                                            </div>
                                            <div class="control">
                                              <button class="button is-text">Reset</button>
                                            </div>
                                          </div>
                    </div>
            </section>









            <section>

              <div class="container" style="margin-top:3em;">
                    <h1 class="title">Course Details</h1>
                                    <div class="field">
                                            <div class="control" id="medium">
                                                <label class="label">Course Name </label>
                                              <input class="input is-primary" type="text" placeholder="Enter College Name to be added">
                                            </div>
                                          </div>

                  




                            <div class="field is-horizontal" >
                                  <div class="field-body">
                        
                                    <div class="field" id="small" >
                                      <div class="control">
                                      <label class="label">Choose College *</label>
                                        <div class="select is-primary">
                                          <select required>
                                            <option>College of Engineering, Trivandrum</option>
                                            <option>TKM College of Engineering, Kollam</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>



                                    <div class="field" id="medium" >
                                      <div class="control">
                                      <label class="label">Branch *</label>
                                        <div class="select is-primary">
                                          <select required>
                                            <option>Computer Science and Engineering</option>
                                            <option>Civil Engineering</option>
                                            <option>Mechanical Engineering</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                                                      
                                                                    
                                                                  
                        
                                    </div>
                             </div>            
                             <div class="field" id="small">
                              <div class="control">
                                  <label class="label">Eligible Degrees *</label>

                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Mechanical Engineering
                                  </label>

                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Automobile Engineering
                                  </label>

                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Production Engineering
                                  </label>

                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Aerospace Engineering
                                  </label>

                                  <label class="checkbox">
                                    <input type="checkbox">
                                    Mechatronics  Engineering
                                  </label>

                              </div>
                            </div>            


                        
                   <div class="field is-horizontal" >
                    <div class="field-body">


                                              
                                              
                                             <div class="field" id="small">
                                                    <div class="control">
                                                        <label class="label">Number of Seats offered *</label>
                                                      <input class="input is-primary" type="text" placeholder="Enter number" required>
                                                    </div>
                                                  </div>
                                          

                            </div>
                   </div>
                  

                  



                   
                   



                       
               

                                    <div class="field is-grouped" style="margin-top:2em;">
                                            <div class="control">
                                              <button class="button is-link">Add</button>
                                            </div>
                                            <div class="control">
                                              <button class="button is-text">Reset</button>
                                            </div>
                                          </div>
                    </div>
            </section>
              
            

            <footer class="footer">
                    <div class="content has-text-centered">
                      <p>
                        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                      </p>
                    </div>
                  </footer>
     
</body>
</html>
